@font-face {
  font-family: cooperHewittBold;
  src: url(../public/fonts/CooperHewitt-Bold.ttf);
}

body {
  font-family: cooperHewittBold;
}

.main {
  display: flex;
  justify-content: space-between;
}

.link-bar {
  align-self: center;
  margin-right: 50px;
}

.navigation-link {
  text-decoration: none;
  margin-right: 50px;
  color: black;
  font-size: 1rem;
}

.navigation-link:hover {
  opacity: 80%;
  cursor: pointer;
}

.title {
  text-decoration: none;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.beer-beer {
  width: max-content;
}

.title-img {
  width: 50px;
}

.map-container {
  width: 50vh;
  height: 50vh;
  border-radius: 5px;
}

.marker-label {
  position: absolute;
  width: 100px;
  text-wrap: wrap;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.homepage {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  align-content: center;
  margin: auto;
  display: flex;
  flex-flow: column;
  width: 20vw;
}

.brewingh2 {
  text-align: center;
}

.search-input {
  margin-left: 20px;
  height: 25px;
  border: none;
  font-family: cooperHewittBold;
}

.search-input:hover {
  background: lightgray;
  border-radius: 5px;
}

.search-button {
  margin-left: 10px;
  height: 25px;
  border: none;
  color: white;
  font-family: cooperHewittBold;
  background: #EC9d00;
  border-radius: 5px;
  }

.search-button:hover {
  cursor: pointer;
  opacity: 80%;
}

.search-button:active {
  background: #ec8600;
}

.results-box {
  margin-left: 10px;
  font-size: 15px;
  opacity: 50%;
}

.current-city {
  margin-left: 50px;
  opacity: 50%;
  position: absolute;
  top: 10%;
}

.page-box {
  display: flex;
  flex-flow: row;
  justify-content: center;

}

.brewery-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.result-map-box {
  display: flex;
  justify-content: center;
}

.local-breweries-map {
  margin-top: 10px;
  height: min-content;
  right: 16vw;
  bottom: 6vw;
  position: fixed;
}

.map-container-local {
  width: 33vw;
  height: 33vw;
  border-radius: 5px;
}

.spacer {
  width: 40vw;
  height: 40vw;
  margin: 10px;
  color: white;
}

#githubIcon {
  height: 20px;
  align-self: center;
  margin-left: 50px;
}

footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  align-self: center;
  margin: auto;
  width: 100%;
  padding-top: 10px;
  background:lightseagreen;
}

h5 {
  text-align: center;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
}

p {
  text-align: center;
  height:min-content;
  margin: 0px;
}
